/*html{
    font-size: 2em;
    but we dont use this , use default value
}*/
main {
  text-align: center;
  border: 5px solid yellow;
  /*width: 50%;*/
  width: 50vw;
  /*height: 50vh;*/
}
body {
  font-size: 2em;
}
header {
  font-size: 2em;
}
h1 {
  font-size: 3rem;
  /*font-size: 42px;
   pixel are absolute*/
}

section {
  text-align: center;
  border: 5px solid orange;
  width: 50%;
}
